body {
    max-width: 1270px;
    background-color: wheat;
    margin: 0 auto;
}
.hero-container {
    display: flex;
    background-color: limegreen;
    padding: 25px;
    font-size: 1.25em;
    align-items: center;
    gap: 40px;
    border-radius: 30px;
}
.hero-container button{
    background-color: orange;
    padding: 10px 20px;
    font-size: 1.25em;
    border-radius: 15px;
    /* cursor: pointer; */
    /* cursor: progress; */
    /* cursor: wait; */
    cursor: -webkit-grabbing;

}
.hero-container img {
    width: 100%;
    height: 400px;
    border-radius: 25px;
}